
.appointment-letter {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 20px;
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
  }
  
  .letter-header {
    border-bottom: 2px solid rgb(67, 118, 160);
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .letter-header h2 {
    color: rgb(67, 118, 160);
  }
  
  .letter-header p {
    margin: 0;
  }
  
  a {
    color: rgb(67, 118, 160);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  strong {
    color: black;
  }
  