.employeebox{
    color: #003366;
    justify-content: center;
    text-align: center;
    width: 25%;
    padding-bottom: 1%;
}

.profile-picture{
    padding: 2%;
    width: 250px;
    border-radius: 100%;
}

.name{
    margin: 0%;
}

.employee-description{
    margin: 0%;
    padding: 2%;
}