body {
    margin: 0; /* Reset default margin */
    background-color: white; /* Set the background color of the body to white */
}

.navbar-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    min-height: 100px; /* Set a minimum height to ensure items stay on one line */
    padding: 10% 0; /* Adjust vertical padding */
    padding-bottom: 6%;
    position: relative;
}

.top-bar {
    background-color: white;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure the top-bar is above other elements */
    padding-left: 2%; 

}

.logo1 {
    width: 200px; /* Set a specific width for the logo */
    margin-right: 20px; /* Space between the logo and the navbar */
}

